@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bsc-white: #fff;
  --bsc-black: #000;
  --bsc-black2: #000000;
  --bsc-theme1: #000;
  --bsc-theme2: #f18c8e;
  --bsc-grey: #828282;
  --bsc-lightgrey: #f6f8fd;
  --bsc-lightgrey2: #eaeaec;
  --bsc-semilight: #bebebe;
  --bsc-red: #ff1310;
  --bsc-greytransparent: rgba(243, 243, 245, 0.5);
  --bsc-font-heading: "PT Sans";
  --bsc-font-body: "PT Sans";
  --bsc-transition: 0.3s ease-in-out;
}

html {
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  height: 100%;
}

body {
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  color: var(--bsc-black2);
  font-family: var(--bsc-font-body);
  position: relative;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  color: var(--bsc-black2);
  text-decoration: none;
  transition: var(--bsc-transition);
  -webkit-transition: var(--bsc-transition);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--bsc-theme1);
}

.font-semibold {
  font-weight: 600;
}

.hide {
  display: none;
}

h1,
.h1 {
  font-size: calc(26px + 46 * (100vw - 320px) / 1600);
}

h2,
.h2 {
  font-size: calc(19px + 26 * (100vw - 320px) / 1600);
}

h3,
.h3 {
  font-size: calc(20px + 12 * (100vw - 320px) / 1600);
}

h4,
.h4 {
  font-size: calc(18px + 8 * (100vw - 320px) / 1600);
}

h5,
.h5 {
  font-size: calc(16px + 4 * (100vw - 320px) / 1600);
}

h6,
.h6 {
  font-size: calc(22px + 5 * (100vw - 320px) / 1600);
}

a {
  color: var(--bsc-theme1);
}

body {
  background: #ffffff;
}

.row {
  width: 100%;
  margin: auto;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-primary::before,
.btn-primary::after {
  left: 0%;
  height: 30%;
  width: 2px;
  transition: height 0.2s 0.35s ease-out;
  position: absolute;
  content: "";
  background: var(--bsc-theme1);
  z-index: 1;
}

.btn-primary::before {
  top: 50%;
}

.btn-primary::after {
  bottom: 50%;
}

.btn-primary:hover::before {
  height: 50%;
  transition: height 0.2s ease-in;
}

.btn-primary:hover::after {
  height: 50%;
  transition: height 0.1s ease-in;
}

.btn-primary span::before,
.btn-primary span::after {
  width: 0%;
  height: 0%;
  background: transparent;
  opacity: 0;
  z-index: 2;
  position: absolute;
  content: "";
}

.btn-primary span::after {
  bottom: 0;
  left: 0%;
  border-bottom: 2px solid var(--bsc-theme1);
  transition: width 0.25s ease-in, opacity 0s 0.35s;
}

.btn-primary span:hover::after {
  width: 100%;
  opacity: 1;
  transition: width 0.25s 0.2s ease-out, opacity 0s 0.2s;
}

.btn-primary span::before {
  top: 0%;
  left: 0%;
  border-top: 2px solid var(--bsc-theme1);
  border-right: 2px solid var(--bsc-theme1);
  transition: height 0.15s ease-in, width 0.2s 0.15s linear, opacity 0s 0.35s;
}

.btn-primary span:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: width 0.2s 0.1s linear, height 0.15s 0.3s ease-out, opacity 0s 0.1s;
}

.btn-secondary::before,
.btn-secondary::after {
  left: 0%;
  height: 30%;
  width: 2px;
  transition: height 0.2s 0.35s ease-out;
  position: absolute;
  content: "";
  background: var(--bsc-theme2);
  z-index: 1;
}

.btn-secondary::before {
  top: 50%;
}

.btn-secondary::after {
  bottom: 50%;
}

.btn-secondary:hover::before {
  height: 50%;
  transition: height 0.2s ease-in;
}

.btn-secondary:hover::after {
  height: 50%;
  transition: height 0.1s ease-in;
}

.btn-secondary label::before,
.btn-secondary label::after {
  width: 0%;
  height: 0%;
  background: transparent;
  opacity: 0;
  z-index: 2;
  position: absolute;
  content: "";
}

.btn-secondary label::after {
  bottom: 0;
  left: 0%;
  border-bottom: 2px solid var(--bsc-theme2);
  transition: width 0.25s ease-in, opacity 0s 0.35s;
}

.btn-secondary label:hover::after {
  width: 100%;
  opacity: 1;
  transition: width 0.25s 0.2s ease-out, opacity 0s 0.2s;
}

.btn-secondary label::before {
  top: 0%;
  left: 0%;
  border-top: 2px solid var(--bsc-theme2);
  border-right: 2px solid var(--bsc-theme2);
  transition: height 0.15s ease-in, width 0.2s 0.15s linear, opacity 0s 0.35s;
}

.btn-secondary label:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: width 0.2s 0.1s linear, height 0.15s 0.3s ease-out, opacity 0s 0.1s;
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: calc(100px + 50 * (100vw - 320px) / 1600);
  padding: 0;
  color: #ffffff;
}

.btn label {
  position: relative;
  display: inline-block;
  font-size: calc(8px + 4 * (100vw - 320px) / 1600);
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: calc(6px + 4 * (100vw - 320px) / 1600) calc(6px + 1 * (100vw - 320px) / 1600);
  transition: 0.3s;
  background: var(--bsc-theme1);
  z-index: 0;
  color: #fff;
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: calc(8px + 4 * (100vw - 320px) / 1600);
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s;
  background: var(--bsc-theme2);
  z-index: 0;
  color: #fff;
  padding: calc(6px + 4 * (100vw - 320px) / 1600) calc(6px + 1 * (100vw - 320px) / 1600);
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #000;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.btn:hover {
  color: #000;
  background-color: transparent;
  border-color: transparent;
}

header {
  z-index: 10;
  position: relative;
  background: #ffffff;
  border-bottom: 3px solid var(--bsc-theme2);
}

.custom-navbar-nav li a:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background: var(--bsc-theme2);
  height: 2px;
  width: 0%;
  z-index: 999;
  transition: all 500ms;
}

.custom-navbar-nav li a:hover:before {
  width: 100%;
  transition: all 500ms;
}

.navbar-brand img {
  max-width: 170px;
}

.navbar-list {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.custom-navbar-nav li a {
  font-weight: bold;
  color: #717171;
  transition: all 500ms;
  font-size: 13px;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 0;
  display: block;
}

.custom-navbar-nav {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.custom-navbar-nav li {
  padding: 0 9px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--bsc-theme2);
  font-weight: 900;
}

.nav-link {
  color: var(--bsc-theme1);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bsc-black);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: 1px solid #000;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: var(--bsc-black);
  background-color: var(--bsc-white);
  border-color: #000;
  outline: 0;
  box-shadow: none;
}

.offCanvas {
  display: none;
}

.full-navbar {
  display: block;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
  border-radius: 0;
}

.search-box {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 0;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: normal;
  transition: 0.4s;
  width: 0px;
}

.search-btn {
  float: right;
  width: 24px;
  height: 35px;
  background: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

.search_bar_container input::-moz-placeholder {
  color: #fff !important;
}

.search_bar_container input::placeholder {
  color: #fff !important;
}

.search-box a i {
  color: #000000;
}

.search-box:hover > .search-text {
  width: 130px;
  font-size: 12px;
  padding: 0 16px;
}

.search-box:hover > .search-btn {
  background: #ffffff;
  color: black;
}

.nav-right-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.nav-right-menu span,
.nav-right-menu i {
  font-size: 17px;
}

.nav-right-menu .nav-item {
  padding: 0 10px;
  margin-left: 3px;
}

.offcanvas-body {
  background: var(--bsc-white);
  border-left: 2px solid var(--bsc-theme2);
}

.offcanvas-header {
  background: var(--bsc-theme1);
  border-left: 2px solid var(--bsc-theme2);
  color: #fff;
}

.offcanvas-body form {
  flex-direction: column;
  max-width: 230px;
  margin: auto;
}

.offcanvas-body form .btn {
  margin: 10px 0;
}

.btn-close {
  opacity: 100%;
  filter: invert(100%) brightness(8.5);
}

footer {
  padding: 3rem 0;
  background: var(--bsc-black) url(../images/footer-bg.png) center;
  background-repeat: repeat;
  background-size: contain;
}

.footer-links li a {
  color: var(--bsc-white);
  padding: 7px 0;
  display: block;
}

footer .footer-links {
  text-align: center;
}

footer .footer-link-label {
  color: var(--bsc-white);
  text-align: center;
  margin-bottom: 1rem;
}

.footer-contact-info li {
  color: var(--bsc-white);
  padding: 7px 0;
  text-align: center;
}

footer .navbar-brand {
  margin-bottom: 1rem;
  text-align: center;
}

a.footer-mail {
  color: var(--bsc-theme2);
}

.footer-contact-info .icli {
  color: #fff;
}

.itembox {
  border-radius: 0px;
  border: 2px solid var(--bsc-theme2);
  padding: 14px;
  background: white;
}

.itembox__img {
  position: relative;
  transition: all 600ms;
  overflow: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.itembox__img a {
  height: 100%;
  text-decoration: none;
  outline: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.featureditems .itembox__details--title a,
.shopbycategories .itembox__details--title a {
  text-align: center;
  font-weight: 400;
}

.featureditems .itembox__details--pricecode,
.shopbycategories .itembox__details--pricecode {
  display: flex;
}

.itembox__details--pricecode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0 0;
}

.owl-height {
  height: auto !important;
}

.item {
  height: auto;
  display: block;
}

.itembox__details--title a {
  display: block;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 0 0px 0;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  outline: none;
  text-decoration: none;
  outline: none;
}

.itembox__details {
  background: #ffffff;
  padding: 26px 30px 10px 30px;
  margin: 0 !important;
  border-top: 1px solid lightgrey;
}

.itembox__img a img {
  width: 100%;
  transition: ease all 2s;
  height: 100%;
  -o-object-fit: cover !important;
  object-fit: cover !important;
  -o-object-position: top center;
  object-position: top !important;
}

.itembox__img {
  overflow: inherit;
  height: 100%;
}

section.Featured-items {
  position: relative;
  z-index: 1;
  padding: calc(30px + 10 * (100vw - 320px) / 1600) calc(0px + 0 * (100vw - 320px) / 1600);
}

.owl-theme .owl-dots {
  display: none;
}

.slide__content--headings .top-hb {
  margin: 10px 0 0 0;
}

.slide__content--headings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: calc(4px + 4 * (100vw - 320px) / 1600) calc(6px + 14 * (100vw - 320px) / 1600);
}

.home-banner-bg {
  position: relative;
}

section.banner__slider {
  background: url(../images/main-back.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-sp {
  font-weight: 400;
  font-size: calc(9px + 9 * (100vw - 320px) / 1600);
  text-transform: uppercase;
  color: var(--bsc-theme2);
}

.bottom-sp {
  display: block;
  width: 100%;
  max-width: calc(160px + 200 * (100vw - 320px) / 1600);
  margin-right: auto;
  padding: calc(3px + 15 * (100vw - 320px) / 1600) calc(0px + 0 * (100vw - 320px) / 1600);
  color: rgba(0, 0, 0, 0.92);
  font-size: calc(8px + 9 * (100vw - 320px) / 1600);
  font-weight: 400;
  text-shadow: 0px 0px 1px #fff;
  margin: calc(1px + 7 * (100vw - 320px) / 1600) calc(1px + 0 * (100vw - 320px) / 1600);
  font-weight: 500;
}

@media (min-width: 992px) {
  .slider,
  .slide {
    height: 700px;
    overflow: hidden;
  }
}

.slide {
  position: relative;
  transition: 1s;
}
.slide .slide__img {
  width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  .slide .slide__img {
    position: absolute;
    bottom: 0%;
    left: 0;
  }
}
.slide .slide__img img {
  max-width: 100%;
  height: 950px;
  opacity: 1 !important;
  animation-duration: 3s;
  transition: all 1s ease;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.slide .slide__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide .slide__content.slide__content__left {
  left: 15%;
  transform: translate(-15%, -50%);
  max-width: calc(350px + 200 * (100vw - 320px) / 1600);
  width: 100%;
  padding: calc(4px + 4 * (100vw - 320px) / 1600) calc(20px + 15 * (100vw - 320px) / 1600);
}
.slide .slide__content.slide__content__right {
  right: 15%;
  left: auto;
  transform: translate(5%, -50%);
}
.slide .slide__content--headings h2 {
  font-size: 4.5rem;
  margin: 10px 0;
}
.slide .slide__content--headings .animated {
  transition: all 0.5s ease;
}

.slider [data-animation-in] {
  opacity: 0;
  animation-duration: 1.5s;
  transition: opacity 0.5s ease 0.3s;
  transition: 1s;
}

.slick-dotted .slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  display: block;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.simple-dots .slick-dots li {
  width: 20px;
  height: 20px;
}
.simple-dots .slick-dots li button {
  border-radius: 50%;
  background-color: white;
  opacity: 0.25;
  width: 20px;
  height: 20px;
}
.simple-dots .slick-dots li button:hover, .simple-dots .slick-dots li button:focus {
  opacity: 1;
}
.simple-dots .slick-dots li.slick-active button {
  color: white;
  opacity: 0.75;
}

.stick-dots .slick-dots li {
  height: 3px;
  width: 50px;
}
.stick-dots .slick-dots li button {
  position: relative;
  background-color: white;
  opacity: 0.25;
  width: 50px;
  height: 3px;
  padding: 0;
}
.stick-dots .slick-dots li button:hover, .stick-dots .slick-dots li button:focus {
  opacity: 1;
}
.stick-dots .slick-dots li.slick-active button {
  color: white;
  opacity: 0.75;
}
.stick-dots .slick-dots li.slick-active button:hover, .stick-dots .slick-dots li.slick-active button:focus {
  opacity: 1;
}

/* /////////// IMAGE ZOOM /////////// */
@keyframes zoomInImage {
  from {
    transform: scale3d(1, 1, 1);
    transition: 1s;
  }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 1s;
  }
}
.zoomInImage {
  animation-name: zoomInImage;
}

@keyframes zoomOutImage {
  from {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 1s;
  }
  to {
    transform: scale3d(1, 1, 1);
    transition: 1s;
  }
}
.zoomOutImage {
  animation-name: zoomOutImage;
  transition: 1s;
}

.slick-nav {
  --active: #fff;
  --border: rgb(0 0 0 / 12%);
  width: 44px;
  height: 44px;
  position: absolute;
  cursor: pointer;
  top: calc(50% - 44px);
}
.slick-nav.prev-arrow {
  left: 3%;
  transform: scaleX(-1);
  z-index: 0;
}
.slick-nav.next-arrow {
  left: auto;
  right: 3%;
  z-index: 0;
}
.slick-nav i {
  display: block;
  position: absolute;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  z-index: 999;
  color: black;
}
.slick-nav i:before, .slick-nav i:after {
  content: "";
  width: 10px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #000;
  margin: -1px 0 0 -5px;
  display: block;
  transform-origin: 9px 50%;
}
.slick-nav i:before {
  transform: rotate(-40deg);
}
.slick-nav i:after {
  transform: rotate(40deg);
}
.slick-nav:before, .slick-nav:after {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 50%;
  border: 2px solid var(--border);
  background: rgba(255, 255, 255, 0.2588235294);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.slick-nav svg {
  width: 44px;
  height: 44px;
  display: block;
  position: relative;
  z-index: 1;
  color: var(--active);
  stroke-width: 2px;
  stroke-dashoffset: 126;
  stroke-dasharray: 126 126 0;
  transform: rotate(0deg);
}
.slick-nav.animate svg {
  animation: stroke 1s ease forwards 0.3s;
}
.slick-nav.animate i {
  animation: arrow 1.6s ease forwards;
}
.slick-nav.animate i:before {
  animation: arrowUp 1.6s ease forwards;
}
.slick-nav.animate i:after {
  animation: arrowDown 1.6s ease forwards;
}

@keyframes stroke {
  52% {
    transform: rotate(-180deg);
    stroke-dashoffset: 0;
  }
  52.1% {
    transform: rotate(-360deg);
    stroke-dashoffset: 0;
  }
  100% {
    transform: rotate(-180deg);
    stroke-dashoffset: 126;
  }
}
@keyframes arrow {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  23% {
    transform: translateX(17px);
    opacity: 1;
  }
  24%, 80% {
    transform: translateX(-22px);
    opacity: 0;
  }
  81% {
    opacity: 1;
    transform: translateX(-22px);
  }
}
@keyframes arrowUp {
  0%, 100% {
    transform: rotate(-40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}
@keyframes arrowDown {
  0%, 100% {
    transform: rotate(40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}
section.skincare-wrap {
  background: #ffffff;
  margin: 3rem auto;
  padding: calc(30px + 10 * (100vw - 320px) / 1600) calc(0px + 0 * (100vw - 320px) / 1600);
}

.skincare-bg {
  background: url(../images/luc-1.jpg) no-repeat center;
  background-size: cover;
  height: 450px;
  width: 100%;
}

.makeup-bg {
  background: url(../images/luc-2.jpg) no-repeat center;
  background-size: cover;
  height: 450px;
  width: 100%;
  margin: -22px 0 0px 0;
}

.skincare-img-wrap {
  display: flex;
  justify-content: center;
}

.skincare-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 400px;
  margin-right: auto;
  padding: 10px 30px;
}

.skincare-content .btn {
  margin-left: 0;
}

.skincare-content .store_btn {
  margin: calc(20px + 13 * (100vw - 320px) / 1600) 0 0 0;
  background: transparent;
  color: black;
}

.skincare-content .store_btn_primary:hover {
  background: #000;
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  box-shadow: none;
  color: #ffffff;
}

.skincare-content h2 {
  padding: 2px 0 1px;
}

section.new-collection {
  padding: calc(30px + 10 * (100vw - 320px) / 1600) calc(0px + 0 * (100vw - 320px) / 1600);
}

.two-group-wrap img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  transition: all 500ms;
}

.two-group-wrap img:hover {
  -webkit-clip-path: inset(15px 15px 15px 15px);
          clip-path: inset(15px 15px 15px 15px);
  transition: all 500ms;
}

.two-group-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.new-collection .extra-sp {
  display: block;
  visibility: hidden;
  overflow: hidden;
  padding: 40px 0;
}

.two-group-wrap > * {
  width: 50%;
}

.two-group-wrap .first-group {
  background: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(-8px 0px 18px #cecece);
}

.heading-icon h3 {
  font-weight: 400;
}

.heading-icon {
  max-width: 450px;
  margin: 0 auto 9px auto;
  text-align: center;
}

span.c-ip-heading__inner {
  font-size: 13px;
  text-align: left;
  font-weight: 500;
  padding: 2px 0 30px 0;
  color: #000;
}

.heading-icon h5 {
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.8117647059);
  font-weight: 400;
  color: var(--bsc-theme2);
}

.btn-wrap .btn {
  margin-left: 0;
}

.heading-icon .icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0 5px 0;
  height: 12px;
  margin: auto;
  width: 12px;
}

.btn-wrap {
  width: 100%;
}

section.face-wrap {
  width: 100%;
  padding: calc(30px + 10 * (100vw - 320px) / 1600) calc(18px + 0 * (100vw - 320px) / 1600);
  margin: auto;
}

.face-bg {
  background: url(../images/face-bg.jpg) no-repeat center;
  background-size: cover;
  height: calc(240px + 10 * (100vw - 320px) / 1600);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 50px;
}

.eyes-bg {
  background: url(../images/eyes-bg.jpg) no-repeat center;
  background-size: cover;
  height: calc(240px + 10 * (100vw - 320px) / 1600);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 50px;
  margin-top: -25px;
}

.lips-bg {
  background: url(../images/lips-bg.jpg) no-repeat center;
  background-size: cover;
  height: calc(240px + 10 * (100vw - 320px) / 1600);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 50px;
  margin-top: -50px;
}

.face-wrap h4 {
  color: white;
  transition: all 400ms;
  overflow-wrap: anywhere;
  font-weight: 300;
  letter-spacing: 2px;
}

.black-cloud {
  position: relative;
  filter: brightness(118%);
  transition: all 400ms;
}

.black-cloud:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.031372549);
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 400ms;
}

.black-cloud:hover:before {
  background: rgba(0, 0, 0, 0.27);
  transition: all 400ms;
}

.heading-section {
  position: relative;
}

section.stylist-gallery {
  padding: calc(50px + 20 * (100vw - 320px) / 1600) calc(0px + 0 * (100vw - 320px) / 1600);
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.service-wrapper {
  padding: calc(21px + 20 * (100vw - 320px) / 1600) calc(0px + 0 * (100vw - 320px) / 1600);
}

.big {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  font-family: "Pacifico", cursive;
  color: rgba(0, 0, 0, 0.05);
  color: #f7f5f6;
  z-index: -1;
}

.heading-section .subheading {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #f18c8e;
  font-weight: 700;
  letter-spacing: 2px;
}

.team .img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-size: contain;
}

.team h2 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.team .position {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--bsc-theme2);
}

.service-wrapper .owl-nav {
  display: none;
}

.service-wrapper .item {
  text-align: center;
}

.happy-wrap {
  padding: 30px 0 0;
}

.testimony-section {
  position: relative;
  background: #f18c8e;
  margin: auto;
  width: 100%;
}

.testimony-section .testimony-img {
  display: block;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.heading-section {
  position: relative;
}

.heading-section h1.big {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  font-family: "Pacifico", cursive;
  color: rgba(0, 0, 0, 0.05);
  color: #f7f5f6;
  z-index: -1;
}

.heading-section .subheading {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #f18c8e;
  font-weight: 700;
  letter-spacing: 2px;
}

.testimony-section .owl-carousel {
  margin: 0;
}

.owl-carousel.owl-loaded {
  display: block;
}

.testimony-section .owl-carousel .owl-stage-outer {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.testimony-section .testimony-img {
  margin-top: -120px;
}

.testimony-wrap .user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  background-position: top center;
  background-size: contain;
}

.testimony-wrap {
  display: block;
  position: relative;
  font-size: 20px;
}

.testimony-wrap .name {
  font-weight: 400;
  margin-bottom: 0;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
}

.testimony-wrap .position {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.bg-light {
  background: #f7f5f6 !important;
}

.no-gutters {
  position: relative;
  z-index: 999;
}

.heading-section h1.big.big-2 {
  color: #fff;
}

.testimony-bg {
  display: flex;
  justify-content: flex-start;
}

section.double-sided-wrap {
  padding: calc(15px + 80 * (100vw - 320px) / 1600) calc(0px + 0 * (100vw - 320px) / 1600);
}

.double-img-wrap {
  margin: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.double-img-wrap img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.double-img-wrap .parent-wrap .db-wrap {
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.double-img-wrap .parent-wrap .db-wrap img {
  height: calc(120px + 150 * (100vw - 320px) / 1600);
  width: calc(120px + 150 * (100vw - 320px) / 1600);
  margin: auto;
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  filter: drop-shadow(7px 4px 0px #ea8f90);
}

.child-content-wrap {
  width: 100%;
  max-width: calc(620px + 100 * (100vw - 320px) / 1600);
  margin: 10px auto;
  text-align: center;
}

.double-img-wrap .parent-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.double-img-wrap .parent-wrap .child-wrap {
  height: 100%;
  width: 100%;
  max-width: calc(870px + 300 * (100vw - 320px) / 1600);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: calc(20px + 40 * (100vw - 320px) / 1600) calc(6px + 14 * (100vw - 320px) / 1600);
  position: relative;
}

.child-content-wrap h2 {
  color: #fff;
}

.child-content-wrap p {
  color: #fff;
  overflow: hidden;
  text-align: center;
  padding: 10px 10px 0 0;
  max-width: 800px;
  margin-right: auto;
  overflow-wrap: break-word;
}

.double-img-wrap .parent-wrap .child-wrap .db-list {
  padding: 15px 0;
  max-width: 370px;
  margin: auto;
}

.double-img-wrap .parent-wrap .child-wrap .db-list li {
  color: #fff;
  min-height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-left: 18px;
  width: 100%;
  margin: auto;
}

.double-img-wrap .parent-wrap .child-wrap .db-list li:before {
  position: absolute;
  content: "";
  background: var(--bsc-theme2);
  left: -18px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.db-wrap .discount-off {
  display: inline-block;
  position: absolute;
  background: var(--bsc-theme2);
  border-radius: 100%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  border: 2px solid;
  border-style: dashed;
  color: #fff;
  font-weight: 500;
  z-index: 99;
  bottom: calc(-40px + 80 * (100vw - 320px) / 1600);
  right: calc(-28px + -16 * (100vw - 320px) / 1600);
}

* {
  margin: 0;
  padding: 0;
}

/*
 * Scroll mouse animation 
 */
.mouse-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mouse-scroll {
  position: absolute;
  bottom: 100px;
  background-color: transparent;
  width: 20px;
  height: 40px;
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.mouse-scroll span {
  content: "";
  display: block;
  background-color: white;
  margin-top: 8px;
  width: 1.5px;
  height: 8px;
  border-radius: 20px;
}

.mouse-arrow {
  position: absolute;
  background-color: #ef3636;
  width: 2px;
  height: 10px;
  border-radius: 30%;
  transform: rotate(-45deg);
  bottom: -25px;
  left: 5.5px;
  animation: anim 3s infinite;
}

.mouse-arrow::before {
  content: "";
  display: block;
  position: absolute;
  left: 4.5px;
  top: 4.5px;
  background-color: #ef3636;
  width: 2px;
  height: 10px;
  border-radius: 30%;
  transform: rotate(90deg);
}

@keyframes anim {
  0% {
    bottom: -25px;
  }
  50% {
    bottom: -35px;
  }
}
/*
 * Header
 */
/*
 * Back to top button
 */
.progress-wrap {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;
  background: var(--bsc-theme2);
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  font-family: "unicons";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: #ecedf3;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  z-index: 1;
  transition: all 200ms linear;
}

.progress-wrap:hover::after {
  opacity: 0;
}

.progress-wrap::before {
  position: absolute;
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  opacity: 0;
  background-image: linear-gradient(298deg, #da2c4d, #f8ab37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  z-index: 2;
  transition: all 200ms linear;
}

.progress-wrap:hover::before {
  opacity: 1;
}

.progress-wrap svg.progress-circle path {
  fill: none;
  stroke: #000000;
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 200ms linear;
}

.progress-wrap svg.arrow-icon {
  width: 40px;
  height: auto;
  transform: rotate(-90deg);
  position: absolute;
  top: 20px;
  left: 3px;
  transition: 0.25s ease;
}

.progress-wrap:hover svg.arrow-icon {
  top: 24px;
}

.progress-wrap .arrow-icon path:nth-child(1),
.progress-wrap .arrow-icon path:nth-child(2) {
  stroke: white;
}

.progress-wrap .arrow-icon path:nth-child(3) {
  fill: white;
}

.progress-wrap .arrow-icon path:nth-child(2) {
  d: path("M14.5 4H3.5H4");
}

.progress-wrap .arrow-icon path {
  transition: 0.25s ease;
}

.progress-wrap:hover .arrow-icon path:nth-child(1) {
  d: path("M15 4H4V4");
}

.progress-wrap:hover .arrow-icon path:nth-child(2) {
  d: path("M14.5 4H3.5H0");
  transform: translateX(4px);
}

.progress-wrap:hover .arrow-icon path:nth-child(3) {
  transform: translateX(4px);
}

@media (min-width: 1921px) {
  html,
  body {
    font-size: 16px;
  }
  .btn {
    letter-spacing: 0.15rem;
  }
  h1,
  .h1 {
    font-size: 72px;
  }
  h2,
  .h2 {
    font-size: 48px;
  }
  h3,
  .h3 {
    font-size: 32px;
  }
  h4,
  .h4 {
    font-size: 26px;
  }
  h5,
  .h5 {
    font-size: 20px;
  }
  h6,
  .h6 {
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl,
  .container-fluid {
    max-width: 1920px;
  }
}
@media screen and (min-width: 1950px) {
  footer {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 1024px) {
  .skincare-bg {
    height: 270px;
  }
  .makeup-bg {
    height: 270px;
  }
  section.skincare-wrap {
    margin: 2rem auto;
  }
  .child-content-wrap p {
    display: none;
  }
  .double-img-wrap .parent-wrap .child-wrap .db-list {
    display: none;
  }
  .team .img {
    width: 140px;
    height: 140px;
  }
  .testimony-section .testimony-img {
    margin-top: -40px;
  }
}
@media screen and (max-width: 991px) {
  .offCanvas {
    display: block;
  }
  .full-navbar {
    display: none;
  }
  .slick-slider {
    height: 400px;
    overflow: hidden;
  }
  .slide .slide__img img {
    height: 400px;
  }
}
@media screen and (max-width: 767px) {
  footer .row .col {
    margin-bottom: 20px;
    text-align: center;
  }
  .skincare-bg {
    height: 200px;
  }
  .makeup-bg {
    height: 200px;
    margin: 10px 0 0;
  }
  .heading-section h1.big {
    top: -38px;
  }
  .two-group-wrap > * {
    width: 100%;
  }
  .new-collection .extra-sp {
    padding: 0;
  }
  .btn-wrap {
    display: flex;
    justify-content: center;
  }
  .double-img-wrap .parent-wrap .db-wrap img {
    height: 100px;
    width: 100px;
  }
  .db-wrap .discount-off {
    height: 50px;
    width: 50px;
    font-size: 7px;
    border: 1px solid;
  }
  .child-content-wrap {
    max-width: 100%;
    margin: 15px auto 0;
  }
  .testimony-bg {
    display: none;
  }
  .heading-section {
    text-align: center;
  }
  .testimony-section {
    padding: 20px 0 0 0;
  }
  .skincare-content {
    align-items: center;
    max-width: 200px;
  }
  .skincare-content .btn {
    margin: 4px;
  }
  span.c-ip-heading__inner {
    text-align: center;
  }
  .two-group-wrap .first-group {
    padding: 10px;
  }
}
@media screen and (max-width: 575px) {
  .slick-slider {
    height: 300px;
  }
  .slide .slide__img img {
    height: 300px;
  }
  .slick-nav {
    bottom: 8px;
    top: auto;
  }
  .double-img-wrap .parent-wrap {
    background: rgba(0, 0, 0, 0.6509803922);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .double-img-wrap .parent-wrap .child-wrap {
    flex-direction: row;
  }
  .db-wrap .discount-off {
    top: 10px;
    bottom: auto;
  }
  .child-content-wrap {
    margin: 0;
    padding: 10px;
  }
  section.stylist-gallery {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 420px) {
  .bottom-sp {
    display: none;
  }
  .skincare-content {
    align-items: center;
    max-width: 130px;
    padding: 10px;
  }
  .double-img-wrap .parent-wrap .db-wrap img {
    height: 70px;
    width: 70px;
  }
  .child-content-wrap {
    padding-left: 40px;
  }
}/*# sourceMappingURL=style.css.map */